<form class="form-horizontal">
    <h1>Thingiverse Downloader</h1>
    <div class="control-group thingiverse-downloader-settings-container">
        <div class="thingiverse-downloader-settings-row">
            <label class="control-label thingiverse-downloader-settings-label"><b>{{ _('API Key') }}</b></label>
            <div class="controls thingiverse-downloader-settings-input">
                <input type="text" class="input-block-level" data-bind="value: settings.plugins.thingiverse_downloader.api_key">
            </div>
        </div>
        <span style="width: auto">
        Get an API key to download things from Thingiverse by logging into the Thingiverse Developer Console found <a src="https://www.thingiverse.com/developers">here</a>
        </span>
    </div>
    <div class="control-group thingiverse-downloader-settings-container">
        <div class="thingiverse-downloader-settings-row">
            <label class="control-label thingiverse-downloader-settings-label"><b>{{ _('Output Directory') }}</b></label>
            <div class="controls thingiverse-downloader-settings-input">
                <input type="text" class="input-block-level" placeholder="/home/pi/.octoprint/uploads/models" data-bind="value: settings.plugins.thingiverse_downloader.output_directory">
            </div>
        </div>
    </div>
</form>