.thingiverse-downloader-column {
  display: flex;
  flex-direction: column;
}

.thingiverse-downloader-input {
  width: -webkit-fill-available;
}

.thingiverse-downloader-settings-row {
  display: flex;
  flex-direction: row;
}

.thingiverse-downloader-settings-label {
  width: auto !important;
}

.thingiverse-downloader-settings-input {
  margin-left: 8px !important;
}

.thingiverse-downloader-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 4px;
  padding: 4px;
}

.thingiverse-downloader-settings-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.thingiverse-downloader-preview-name {
  font-size: larger;
  margin: 0px 4px;
  padding: 0px 4px;
  color: slategray;
}

.thingiverse-downloader-preview-img {
  width: 50% !important;
  margin: 4px;
  padding: 4px;
  border-radius: 10px;
}

.thingiverse-downloader-preview-container {
  display: flex;
  flex-direction: column;
  height: 0;
  transition: height 2s;
  overflow: hidden;
}

.thingiverse-downloader-preview-container-visible {
  height: 260px;
}
