.thingiverse-downloader {
  display: flex;
  flex-direction: column;
}

.thingiverse-downloader-thing-input {
  width: -webkit-fill-available;
}

.thingiverse-downloader-settings-row {
  display: flex;
  flex-direction: row;
}

.thingiverse-downloader-settings-label {
  width: auto !important;
}

.thingiverse-downloader-settings-input {
  margin-left: 8px !important;
}

.thingiverse-downloader-input-wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: baseline; */
  margin: 4px 0;
  padding: 8px;
  background: #eeeeee;
  border-radius: 10px;
}

.thingiverse-downloader-input-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.thingiverse-downloader-settings-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.thingiverse-downloader-preview-name {
  font-size: larger;
  margin: 0 4px;
  padding: 0 4px;
  color: #393e46;
}

.thingiverse-downloader-preview-img {
  width: 50% !important;
  margin: 4px;
  padding: 4px;
}

.thingiverse-downloader-preview-container-visible {
  height: 260px;
  background: #eeeeee;
  border-radius: 10px;
}
